<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
        <Key>context</Key>
        <!-- You can set default threshold as you like -->
        <DefaultThreshold>info</DefaultThreshold>
        <MDCValueLevelPair>
            <value>driver</value>
            <level>warn</level>
        </MDCValueLevelPair>
    </turboFilter>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>